:root {
    --global-padding: 10px;
}

div.main-content {
    margin: 10px auto;
    width: 60%;
    padding: var(--global-padding);
}

div.word-list {
    background-color: #333333;
    color: lightgray;
    padding: var(--global-padding);
    width: 95%;
    margin: 5px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    border-radius: 5px;
}

.filters {
    width: 95%;
    display: block;
    padding: var(--global-padding);
    margin: 5px auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    div.main-content {
        width: 100%;
        padding: 0px;
    }

    div#english-random-words,
    div#japanese-random-words,
    div#fave-words {
        column-count: 1;
    }
}

@media only screen and (min-width: 600px) {
    div.main-content {
        width: 75%;
    }

    div#english-random-words,
    div#fave-words {
        column-count: 3;
    }

    div#japanese-random-words {
        column-count: 2;
    }
}

@media only screen and (min-width: 768px) {
    div.main-content {
        width: 60%;
    }

    div#english-random-words,
    div#fave-words {
        column-count: 4;
    }

    div#japanese-random-words {
        column-count: 3;
    }
}

div.hidden {
    display: none;
}

div.center-content {
    text-align: center;
}

button.reroll-words {
    width: 100%;
}

.generated-word {
    color: white;
    display: block;
}

.generated-word:hover {
    font-weight: 700;
}

.generated-word[data-alt] {
    color: lightblue;
}